body {
	background-color: lightgreen;
	margin: 0px;
}

.grid1 {
	display: grid;
	
	grid-template-rows: 1fr;
	grid-template-columns: 160px 1fr;
}

.grid2 {
	display: grid;
	
	grid-template-rows: 160px 1fr;
	grid-template-columns: 1fr;
	
	background-color: green;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

h1 {
	font-size: 32px;
}

main {
	margin:5px;
	background-color:lightgray;
	
	overflow-y: scroll;
}

nav {
	margin:5px;
	background-color:gray;
}

nav ul {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
  
	list-style-position: inside;
	list-style-type: disc;
}

nav li {
	padding: 5px 10px;
}

header {
	margin:5px;
	padding: 3px;
	background-color: black;
}

@media all and (max-width: 600px) {
	
	.grid1 {
	grid-template-rows: 160px 1fr;
	grid-template-columns: 1fr;
		
	}
	
	.grid2 {
	grid-template-rows: 1fr;
	grid-template-columns: 160px 1fr;
	}
	
	nav li {
		float: left;
		
		padding: 0 8px;
		height: 70px;
		line-height: 70px;
		vertical-align: middle;
	}
}